body {
  font: 14px "Open Sans", sans-serif !important;
  margin: 0px !important;
  padding: 0px !important;
}
button {
  font-weight: bolder !important;
}
select {
  padding-left: 5px !important;
}

/* Inicio Estilo página DashBoard e suas seções  */
.title {
  color: #707070 !important;
  font-weight: lighter;

}
.page-events {
  background-color: #f2f3f5 !important;
}
/* Fim Estilo página DashBoard e suas seções */

/* Início Estilo componentes */
.div-card{
  position: relative;
}
.invited-people-container{
  display: flex;
}
.profile-invit{
  margin-left: 3px;
  width: 30px;
  border-radius: 15px !important;

  
}
.profile-invit img{
  border: 1px solid #70707079;
  box-shadow: 0px 2px 2px #00000027;
  border-radius: 15px !important;
}

.div-card figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid blue; */
  box-shadow: 0px 4px 5px #dedfe1;
}
.div-card figcaption {
  font-weight: lighter;
  font-size: 1em;
  margin-top: 20px;
}
.img-card {
  width: 150px;
  margin: 10px;
}

.div-card {
  background-color: #ffffff;
}
.content {
  margin-left: 10px;
  padding: 15px 0px 15px;
}
.title-card {
  font-size: 1.2em;
  font-weight: bold;
  color: #707070;
}
.card-Management {
  background-color: #fdfdfd;
  padding: 10px 5px 10px;
  margin-top: 10px;
}
.demo {
  position: relative;
  background-color: #e8f1f5;
  padding: 10px 5px 10px;
  margin: 10px 5px 10px;
}
.img-demo {
  margin-top: 10px;
}
.btn-demo {
  border-radius: 100% !important;
  background-color: #ffff !important;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  border: none;
  transition: 1s;
  padding: 0px;
}
.btn-card {
  border-radius: 100% !important;
  background-color: #DBDBDB ;
  color: #707070;
  width: 20px;
  height: 20px;
  padding: 0px;
  transition: 1s;
  border: none;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0px;
  bottom: 0px;
  right: 10px;
}
.title-commercial {
  height: 25px;
}
.btn-demo:hover {
  background-color: #7c7872 !important;
  color: #fff;
}
.button-group {
  position: absolute;
  top: auto;
  right: 8px;
}
.card-info {
  color: #383737;
  border: 2px solid #dfd5c6;
  width: 100%;
  padding: 20px 18px 20px;
  background-color: #fff2de;
}
.card-info .text-info {
  color: #707070 !important;
  font-size: 1em;
  line-height: 150%;
}
.select-component {
  padding-right: 4px !important;
}
.btn-primary {
  padding: 0px 0px 0px !important;
  width: 100px !important;
  background-color: #3489b1 !important;
}
.date {
  color: #727272;
  font-weight: lighter;
  margin-left: 5px;
}
.event {
  background-color: #ee8686;
  color: black;
  font-weight: bold;
  padding: 2px 5px 2px;
  font-size: 0.9em;
}
.release {
  background-color: #3489b1;
  color: #ffff;
  font-weight: bold;
  padding: 2px 5px 2px;
  font-size: 0.9em;
}
.title-managementBoard {
  color: #474747b0;
  font-weight: bold;
}
/* Fim Estilo componentes */

/* Media querie para telas pequenas */
@media (max-width: 576px) {
  .title {
    font-weight: lighter;
    font-size: 1.6em;
  }
}