body {
  font: 14px "Open Sans", sans-serif !important;
  margin: 0px !important;
  padding: 0px !important;
}
button {
  font-weight: bolder !important;
}

/* Inicio Estilo página DashBoard e suas seções  */
.page-events {
  background-color: #f2f3f5 !important;
}
.events {
  /* padding: 10px; */
  /* border: 1px solid red; */
}
/* Fim Estilo página DashBoard e suas seções */

/* Início Estilo componentes cards */
.div-card figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid blue; */
  box-shadow: 0px 4px 5px #dedfe1;
}
.div-card figcaption{
    font-weight: lighter;
    font-size: 1em;
}
.img-card {
  width: 150px;
  margin: 10px;
}

.div-card {
  background-color: #ffffff;
}
.content {
  margin-left: 20px;
}
.card-Management{
    background-color: #FDFDFD;
    padding: 10px 5px 10px;
    margin-top: 10px;
}
.demo{
    position: relative;
    background-color: #E8F1F5;
    padding: 10px 5px 10px;
    margin: 10px 5px 10px;
}
.img-demo{
    margin-top: 10px;
}
.btn-demo{
    border-radius: 100% !important;
    background-color: #FFFF !important;
    width: 30px;
    height: 30px;
    margin-left: 2px;
    border: none;
    transition: 1s;
}
.btn-demo:hover{
    background-color: #7c7872 !important;
    color: #FFF ;
}
.button-group{
    position: absolute;
    top: 5px;
    right: 3px;
}
.card-info {
  color: #383737;
  border: 2px solid #dfd5c6;
  width: 100%;
  padding: 20px 18px 20px;
  background-color: #fff2de;
}
.card-info .text-info {
  color: #707070 !important;
  font-size: 1em;
  line-height: 150%;
}

.event {
  background-color: #ee8686;
  color: black;
  font-weight: bold;
  padding: 2px 5px 2px;
  font-size: 0.9em;
}
.release {
  background-color: #3489b1;
  color: #FFFF;
  font-weight: bold;
  padding: 2px 5px 2px;
  font-size: 0.9em;
}
.title-managementBoard{
    color: #474747b0;
    font-weight: bold;
}
/* Fim Estilo componentes cards */
